---
interface Props {
	title: string;
	href: string;
	color: string;
}
const { title, href, color } = Astro.props;
---

<a href={href} class="utility-bar" style={`background-color: ${color}`}>
	<span class="utility-bar-title">{title}</span>
</a>

<style>
	.utility-bar {
		flex: none;
		height: var(--bar-height-desktop);
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
	}

	.utility-bar-title {
		font-family: var(--font-heading);
		font-weight: 500;
		font-size: 22px;
		color: var(--color-black);
		transition: color 0.15s ease;
	}

	.utility-bar:hover {
		background: var(--color-black) !important;
	}

	.utility-bar:hover .utility-bar-title {
		color: var(--highlight);
	}

	@media (max-width: 600px) {
		.utility-bar {
			height: var(--bar-height-mobile);
		}

		.utility-bar-title {
			font-size: 16px;
		}
	}
</style>
